<div class="jumbotron mt-5">
  <div class="container">
    <h1 class="display-4">Welcome to E-Med!</h1>
    <p class="lead">
      <%= link_to "Be a Doctor", new_doctor_registration_path, class:"btn btn-primary btn-lg text-white", role: "button" %>
      <%= link_to "Be a Patient", new_patient_registration_path, class:"btn btn-primary btn-lg text-white", role: "button" %>
    </p>
  </div>
</div>